<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LocalPort" value="10200" />
		<add key="MaxLogDays" value="7" />
		<add key="MaxConcurrentTasks" value="10" />
		<add key="DefaultMaxSize" value="0"/>
		<add key="DefaultSecurityKey" value="ABCDE"/>
	</appSettings>
</configuration>